.container {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: inline-flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

body, h1, h2, h3 {
    color: #212121;
    margin: 0;
    padding: 0;
}

.header-top {
    display: flex;
    width: 1440px;
    height: 137px;
    padding: 8px 100px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.header-top .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-top .title h1 {
    width: 360px;
    height: 44px;
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-top .title h2 {
    width: 914px;
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-top .title img {
    display: flex;
    width: 72px;
    height: 72px;
}

.title h1, .title h2 {
    color: #212121;
}

.title h1 {
    margin-bottom: 5px;
}

.breadcrumb-container {
    display: flex;
    padding: 0px 100px;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.breadcrumb {
    position: relative; 
    border: 100px;
    width: 466px;
    height: 26px;
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.breadcrumb::after {
    content: ' >'; 
    font-weight: bold; 
}

.header-main {
    display: flex;
    width: 1239px;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-main h2 {
    width: 802px;
    height: 55px;
    flex-shrink: 0;
    color: var(--Text-Black, #212121);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-bottom {
    display: flex;
    width: 1440px;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: flex-start;
}

.header-bottom #tooltip-language-select {
    display: flex;
    width: 240px;
    height: 56px;
    padding: 16px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--Primary-blue, #165676);
    background: var(--Body-bg, #FFF);
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.header-bottom #faq-button {
    display: flex;
    width: 104px;
    height: 64px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Primary-blue, #165676);
    color: var(--Text-light, #F5F5F5);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.info-cards-container {
    display: flex;
    width: 1440px;
    padding: 0 100px;
    align-items: flex-start;
    gap: 34px;
}

.info-card {
    display: flex;
    width: 392px;
    height: 236px;
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: rgba(204, 230, 244, 0.50);
}

.info-card h3 {
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #212121;
}

.info-card p {
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.info-card {
    background-color: #CCE6F4;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.body-card {
    display: flex;
    width:1440px;
    padding: 8px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--Text-light, #F5F5F5);
}

.body-card .left-section {
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
}

.body-card .left-section select {
    display: flex;
    width: 340px;
    height: 56px;
    padding: 16px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--Primary-blue, #165676);
    background: var(--Body-bg, #FFF);
}

.body-card .left-section .captcha-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-direction: row;
    gap: 20px;
}

.body-card .left-section .captcha-container #captcha-input {
    display: flex;
    width: 340px;
    padding: 16px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid var(--Primary-blue, #165676);
    background: var(--Body-bg, #FFF);
    box-sizing: border-box;
}

.body-card .left-section .captcha-container .icon-button {
    display: flex;
    width: 88px;
    height: 56px;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Primary-blue, #165676);
}

.icon-button {
    color: white;
}

.right-section {
    display: flex;
    width: 540px;
    padding: 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
    background: var(--Body-bg, #f4f4f4);
}

.subcard {
    background-color: white;
    border-radius: 4px;
    border: 1px solid var(--Primary-blue, #165676);
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.subcard p {
    flex: 1 0 0;
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.subcard button {
    display: flex;
    padding: 20px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--Primary-blue, #165676);
    color: var(--Text-light, #F5F5F5);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.bottom-footer {
    display: flex;
    width: 1440;
    padding: 0 100px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    margin: 0 auto;
}

.bottom-footer h2 {
    width: 229px;
    height: 44px;
    flex-shrink: 0;
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottom-footer ul {
    flex: 1 0 0;
    color: var(--Text-Black, #212121);
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .container, .header-top, .header-bottom, .info-cards-container, .body-card {
        flex-direction: column; 
        align-items: center; 
        padding: 0 5%; 
        width: 100%;
    }

    .header-top .title img, .info-card, .subcard, .header-main h2, .header-top .title h1, .header-top .title h2 {
        font-size: smaller; 
    }
}

@media (max-width: 480px) {
    .header-top .title h1, .header-top .title h2, .header-main h2, .header-bottom #tooltip-language-select, .header-bottom #faq-button, .info-card, .subcard {
        font-size: smaller; 
        flex-direction: column; 
        padding: 8px; 
    }
}
/* * {
    border: 1px solid red !important;
} */

/* body{
    height: 100%;
    margin: 0;
    background-color: violet;
}

.container {
    display: flex;
    height: 100%;
}

#logoBar {
  width: 30vw;
  height: 100vh;
  padding: 20px; 
  box-sizing: border-box;
  text-align: center; 
}
#logoBar h1 {
  font-family: 'Comic Sans MS', sans-serif; 
  color: rgb(26, 44, 61); 
}
#logoBar h3 {
  font-family: 'Comic Sans MS', sans-serif; 
  color: rgb(26, 44, 61); 
}
#siteLogo {
    width: 100%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-start; 
    width: 70vw; 
    padding: 10px;
}

.card {
    background-color: lightcoral;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 18px black;
    margin: 10px;
    flex: 1 0 22%; 
    box-sizing: border-box;
    text-align: center;
}

.card img {
    width: 100%;
    margin-bottom: 10px;
}

.card .characterName {
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    #logoBar {
        width: 100%;
        height: auto;
    }
    .cards-container {
      width: 100%;
      height: auto;
  }

    #siteLogo {
        width: 75%; 
    }
} */
